body{
    background-color: blueviolet;
}
.container{
    background: #fff;
    padding: 8px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    width: 80vh;
    border-radius: 10px;
   
}
.container form{
        display:grid;
        grid-template-columns: 9fr 3fr;
        gap: 1.25em;
        background: #fff;
        padding: 30px;
        border-radius: 30px;
        
        
}

form #input-search {
    
    border: none;
    outline: none;
    border-bottom: 2px solid blue;
    font-size: 16px;
}

form #search-btn {
    padding: 12px;
    background-color: blue;
    color: azure;
    font-style: normal;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.container .flag-img{
    display: block;
    margin: 1.8em auto 1.2em auto;
    width: 120px;
    
}
.container h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}
.container h4{
    display: inline;
    color: rgb(85, 82, 82);
}